extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
      &nbsp;
    .span8
      .well
          h1 Configuración de su cuenta
        form(role="form", method="POST", action="/shopmanagement/profile/view")
          .row-fluid
            .span6
              fieldset
                legend Datos básicos
                label(for='title') Nombre
                input#name(type='text', value='#{shop.name}', placeholder='Nombre de la tienda', required='required')
                label(for='email') Email
                input#email(type='email', value='#{shop.email}', placeholder='Email', required='required')
                label(for='password') Contraseña
                input#email(type='password', value='#{shop.email}')
                label(for='passwordRpt') Repita contraseña
                input#email(type='password', value='#{shop.email}')
                
            .span6
              fieldset
                legend Localización
                label(for='longitude') Longitud
                input#name(type='number', value='#{shop.loc.longitude}')
                label(for='latitude') Latitud
                input#email(type='number', value='#{shop.loc.latitude}')
          .row-fluid
            .span6
              fieldset
                legend Datos de pago
                label(for='title') Número de tarjeta
                input#name(type='text', value='#{shop.name}', placeholder='Nombre de la tienda', required='required')
                label(for='email') Mes de expiración
                input#email(type='text', value='#{shop.email}', placeholder='Email', required='required')
                label(for='password') Año de expiración
                input#email(type='text', value='#{shop.email}')
                label(for='passwordRpt') CCV2
                input#email(type='text', value='#{shop.email}')
                label(for='passwordRpt') Nombre (en la tarjeta)
                input#email(type='text', value='#{shop.email}')
                label(for='passwordRpt') Apellidos (en la tarjeta)
                input#email(type='text', value='#{shop.email}')
            .span6
              fieldset
                legend Dirección de facturación
                label(for='longitude') Dirección
                input#name(type='number', value='#{shop.loc.longitude}')
                label(for='latitude') Ciudad
                input#email(type='number', value='#{shop.loc.latitude}')  
                label(for='latitude') Provincia
                input#email(type='number', value='#{shop.loc.latitude}')  
                label(for='latitude') Código postal
                input#email(type='number', value='#{shop.loc.latitude}')  
                label(for='latitude') País
                input#email(type='number', value='#{shop.loc.latitude}')  
          .row-fluid
            .pull-right
              input.btn.btn-success.btn-lg(type='submit', value='Guardar')