extends ../layouts/default
block content
    h1 Nueva oferta
      
    section(data-ng-controller='DealsController', data-ng-init="showdealcategories()")
        form.form-horizontal(role="form", method="POST")
          .form-group.control-group.admin
            label.col-sm-2.control-label(for='categoryname') Categoria
            .col-sm-10
                select#categoryname.form-control(name='categoryname', value='#{categoryname}')
                    - for category in categories
                        option(value='category.name') {{category.name}}
          .form-group.control-group.admin
            label.col-sm-2.control-label(for='title') Name
            .col-sm-10
              input#name.form-control(type='text', value='#{name}', placeholder='Title'
              , required='required')
          .form-group.control-group.admin
            label.col-sm-2.control-label(for='description') Description
            .col-sm-10
              textarea#description.form-control(rows='10', value='#{description}', placeholder='Description of the deal...', required='required')
          .form-inline.admin
            .row
              label.col-sm-1.control-label(for='price') Price:
              .col-xs-2
                .input-group
                  span.input-group-addon €
                  input#price.form-control(type='number', name='price', value='#{price}', required='required')
              label.col-sm-2.control-label(for='gertuprice') Gertuprice:
              .col-xs-2
                .input-group
                  span.input-group-addon €
                  input#gertuprice.form-control(type='number', name='gertuprice', value='#{gertuprice}', required='required')
              label.col-sm-2.control-label(for='discount') %Discount:
              .col-xs-2
                .input-group
                  span.input-group-addon %
                  input#discount.form-control(type='number', name='discount', value='#{discount}', required='required')
          .row
            .col-md-12
              .datainit
                label.control-label(for='datainit') Fecha de inicio
                input#datainit(type="date", show-weeks="false", starting-day="1", min="minDate", value="#{datainit}")
              .dataend
                label.control-label(for='dataend') Fecha fin
                input#dataend(type="date", show-weeks="false", starting-day="1", min="minDate", value="#{dataend}")
          .row
            .col-md-12
                label(for='dias') Elige los dias de la semana
                - for day in days
                    label #{day}
                    input(type='checkbox', name='selecteddays[]', value='#{day}')

          .col-xs-2
             label.col-sm-1.control-label(for='quantity') Quantity:
            .input-group
              input#quantity.form-control(type='number',name='quantity', value='#{quantity}', required='required')
          .row
            .col-md-6
              a.btn.btn-danger.btn-lg.btn-block(data-ng-href="/management/deals/list")
                | Cancelar
            .col-md-6
              input.btn.btn-success.btn-lg.btn-block(type='submit', value='Guardar')