extends ../layouts/default
block content
  include ../layouts/top-menu
  -function formatDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var m = date.getMonth() + 1;
    -var y = date.getFullYear();
    -return (d +'/' + m + '/'+ y);
    -}
  - if (errorType == 1)
    script.
      App.showAlert('El formato debe ser jpg, png o gif');
  .row-fluid
    .span2
    .span8
      - if (esNueva)
        .well
          h1 Nueva oferta
      - else
        .well
          h1 Editando oferta
      form(method="POST", enctype="multipart/form-data", action="#{actionUrl}", class="form-horizontal")
        .row-fluid
          .span12
            input(type="hidden", value="#{deal._id}", name="id")
            .control-group
              label(for='name', class='control-label')
                strong Nombre de la oferta
              .controls
                input#name(name='name', type='text', value='#{deal.name}', placeholder='Nombre de la oferta',
                  required='required', style='width: 600px')
            .control-group
              label(for='description', class='control-label')
                strong Descripción de la oferta
              .controls
                textarea#description(name='description', rows='5', placeholder='Descripción de la oferta',
                  required='required', style='width: 600px') #{deal.description}
        .row-fluid
          .span6
            label(for='categoryname')
              strong Categoria
            select#categoryname(name='categoryname', value='#{categoryname}', style='width: 300px')
              - for category in categories
                  option(value='#{category.name}') #{category.name}
          .span3
            label(for='datainit')
              strong Fecha de inicio
            input#datainit(type="text", name='datainit', value="#{formatDate(deal.datainit)}", style='width: 100px')
          .span3
            label(for='dataend')
              strong Fecha fin
            input#dataend(type="text", name='dataend', value="#{formatDate(deal.dataend)}", style='width: 100px')
        .clearfix
          br
        .row-fluid
          .span3
            label(for='price')
              strong Precio:
            input#price(type='text', name='price', value='#{deal.price}', required='required', style='width: 100px')
          .span3
            label(for='gertuprice')
              strong Precio Gertu:
            input#gertuprice(type='text', name='gertuprice', value='#{deal.gertuprice}', required='required', style='width: 100px')
          .span3
            label(for='discount')
              strong Descuento (%):
            input#discount(type='text', name='discount', value='#{deal.discount}', required='required', style='width: 100px')
          .span3
            label(for='quantity')
              strong Quantity:
            input#quantity(type='text', name='quantity', value='#{deal.quantity}', required='required', style='width: 100px')
        .clearfix
          br
        .row-fluid
          .span3
            label(for='dias')
              strong Elige los dias de la semana
            .row-fluid
              table
                - for day in days
                  tr
                    td
                      - if (deal.selecteddays)
                        input(type='checkbox', name='selecteddays', value='#{day}', checked="checked")
                      - else
                        input(type='checkbox', name='selecteddays', value='#{day}')
                    td
                      label #{day}

          .span9
            label(for='image')
              strong Imagen
            input#image(type='file', name='image', data-ng-model='image', accept="image/*")
            .clearfix
            - if (deal.image != undefined)
              img(src="#{deal.image}" width="200px")
        .row-fluid
          .pull-right
            a.btn.btn-danger.btn-lg(href="/shopmanagement/deals/list")
              | Cancelar
            input.btn.btn-success.btn-lg(type='submit', value='Guardar', onclick='return isPageValid();')
    - if (errorType == 1)
      script.
        App.showAlert('Debe indicar una imagen para la oferta');
    script.

      function isPageValid(){
        var isValid = true;

        if (! $('#image').val()) {
          isValid = false;
          App.showAlert('Debe seleccionar una imagen para la oferta');
        }

        return isValid;
      }

      $(function(){

        App.syncronizeGertuPriceBoxes('#price', '#gertuprice', '#discount');

        $('input[data-ui="datepicker"]').datepicker({

            showOn: "button",
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'

          });

        $('#price, #gertuprice, #quantity').spinner({
          min: 0,
          max: 2500,
          step: 25
        });

        $('#discount').spinner({
          min: 0,
          max: 100,
          step: 1,
          numberFormat: "p"
        });
      });
