extends ../layouts/default
block content
    include ../layouts/top-menu
    -function formatDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    -function formatNumber(numberString){
        -var numero = parseInt(numberString);
        -return numero.toFixed(2);
    -}

    .row-fluid
        .span2
        .span8
            .well
                h1 Listado de ofertas
            .pull-right
                p
                    a.btn.btn-success(href="/shopmanagement/deals/new") Nueva oferta
            table.table.table-bordered
                thead
                    tr
                        th Imagen
                        th Nombre
                        th Categoría
                        th Precio
                        th Precio GERTU
                        th Descuento
                        th Fecha
                        th &nbsp;
                        th &nbsp;
                tbody
                    - for deal in deals
                        tr
                            td 
                              img(src="#{deal.image}" width="200px")
                            td #{deal.name}
                            td #{deal.categoryname}
                            td #{formatNumber(deal.price)} €
                            td #{formatNumber(deal.gertuprice)} €
                            td #{deal.discount} %
                            td #{formatDate(deal.created)}
                            td
                                a.btn.btn-primary(href="/shopmanagement/deals/edit/#{deal._id}") editar
                            td
                                a.btn.btn-danger(href="/shopmanagement/deals/delete/#{deal._id}") eliminar
            .pagination
                ul
                    - for (pageCounter = 1; pageCounter < pages + 1; pageCounter++)
                        - if (pageCounter == pageCurrent)
                            li.active
                                a(href="/shopmanagement/deals/list?page=#{pageCounter}") #{pageCounter}
                        - else
                            li
                                a(href="/shopmanagement/deals/list?page=#{pageCounter}") #{pageCounter}
