extends ../layouts/default
block content
    include ../layouts/top-menu

    -function formatDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    -function formatNumber(numberString){
        -var numero = parseInt(numberString);
        -return numero.toFixed(2);
    -}

    .row-fluid
        .span2
        .span8
            h1 Dashboard
    br
    .row-fluid
        .span2
        .span4
            .dashboard-panel
                h2 Últimas ofertas
                table.table
                    - for deal in deals
                        tr
                            td #{deal.name}
                            td
                                span.price #{deal.price} &euro;
                            td
                                strong.gertu #{deal.gertuprice} &euro;

        .span4
            .dashboard-panel
                h2 Últimas valoraciones
                table.table
                    - for comment in comments
                        tr
                            td(colspan="2") #{comment.description}
                        tr
                            td
                                em #{formatDate(comment.writedAt)}
                            td(style="text-align: right;")
                                - for (var counter = 0; counter < 10; counter++)
                                    - if (counter < comment.rating)
                                        img(src="/img/rating.png", style="width: 16px;")
                                    - else
                                        img(src="/img/rating-no.png", style="width: 16px;")
        .span2