extends ../layouts/default
block content
    -function prettyDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    h1  Tiendas en el periodo #{dates.start} a #{dates.end}
    table.table.table-bordered.table-condensed
        thead
            tr
                th  Tienda
                th  Fecha confirmación alta
                th(width='180')  Histórico de pagos
                th(width='180')  Ejecutar pago
        each shop in shops
            tr
                td
                    span #{shop.name}
                td
                    - if (shop.confirmationDate != null)
                        span #{prettyDate(shop.confirmationDate)}
                td
                    - if (shop.confirmationDate != null)
                        a.btn.btn-danger(href='/management/payments/history/#{shop._id}') histórico de pagos
                td
                    - if (shop.confirmationDate != null)
                        a.btn.btn-danger(href='/management/payments/confirm/#{shop._id}') confirmar pago